html, body{
    margin: 0;
    padding: 0;
    background: #200C08;
}

.nav-link {
    display: flex;
    flex-direction: column-reverse;
    padding: .5rem 1rem;
    font-family: 'Alfa Slab One', cursive;
    color: #EA3A12;
    margin-top: 30;
    font-family: 'Alfa Slab One', cursive;
  }

  .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
   }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

#list-group {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 1090px; 
}

.list-group-item {
    background-color: #200C08;
    border-radius: 10px;
    color: aliceblue;
}

.media {
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-right: 200px;
    color: aliceblue;
    text-align: justify;
}